<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="MagentoHackathon_BestsellersSorting::config_magentohackathon_bestsellerssorting" title="catalog"/>
						</resource>
					</resource>
				</resource>
				<resource id="MagentoHackathon_BestsellersSorting::Bestseller" sortOrder="10" title="Bestseller">
					<resource id="MagentoHackathon_BestsellersSorting::Bestseller_save" sortOrder="10" title="Save Bestseller"/>
					<resource id="MagentoHackathon_BestsellersSorting::Bestseller_delete" sortOrder="20" title="Delete Bestseller"/>
					<resource id="MagentoHackathon_BestsellersSorting::Bestseller_update" sortOrder="30" title="Update Bestseller"/>
					<resource id="MagentoHackathon_BestsellersSorting::Bestseller_view" sortOrder="40" title="View Bestseller"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
