<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="catalog" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>catalog</label>
			<tab>catalog</tab>
			<resource>MagentoHackathon_BestsellersSorting::config_magentohackathon_bestsellerssorting</resource>
			<group id="group" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>group</label>
				<field id="period" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="22" translate="label" type="text">
					<label>Period in days</label>
					<comment>Period for computing the bestseller sorting.</comment>
				</field>
			</group>
		</section>
	</system>
</config>
